[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Urizel
[access "refs/for/refs/*"]
	read = group user/Urizel
	push = group user/Urizel
	label-Code-Review = -2..+2 group user/Urizel
	label-Verified = -1..+1 group user/Urizel
	rebase = group user/Urizel
	removeReviewer = group user/Urizel
	submit = group user/Urizel
[access "refs/heads/*"]
	read = group user/Urizel
	create = group user/Urizel
	push = +force group user/Urizel
	pushMerge = group user/Urizel
[access "refs/tags/*"]
	push = +force group user/Urizel
	pushTag = group user/Urizel
	pushSignedTag = group user/Urizel
